version: 2.1
orbs:
  codecov: codecov/codecov@1.0.2
jobs:
  build:
    machine: true
    steps:
      - checkout
      - run:
          name: Download iris dataset
          command: 
            curl -O "https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv";
      - run:
          name: Pull xd009642/tarpaulin
          command: docker pull xd009642/tarpaulin
      - run:
          name: Run test and generate coverage report
          command: >-
            docker run --security-opt seccomp=unconfined
            -v $PWD:/volume xd009642/tarpaulin
            cargo tarpaulin --out Xml --all-features --timeout 600
      - codecov/upload:
          file: cobertura.xml